body {
    margin: 0;
    overflow: hidden;
    background: #113540;
}

canvas {
    display: block;
	background: #091d24;
}

#output {
    position: fixed;
    right: 10px;
    top: 10px;

    width: 400px;
    height: 500px;

    background: #111;
    color: white;

    border: 1px solid #555;

    font-family: monospace;
}
